body {
    font-family: sans-serif;
    background-color: black;
}

.link-header{
      background: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
    border: 3px solid white;
    border-radius: 13px;
    margin: 30px;
    padding: 5px;
    background-color: black;
}

h1{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
